@model BulutWeb.Models.Model.Contact
    @{ 
        Layout = null;
    }

    <section id="maincontent">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <aside>
                        <div class="widget">
                            <h4 class="heading-success"><span class="btn btn-large btn-success"><i class="m-icon-big-swapdown m-icon-white"></i></span>&nbsp;&nbsp;İletişim Bilgileri</h4>
                            <ul>
                                <li>
                                    <label><strong>Tel: </strong></label>
                                    <p>@Model.PhoneNumber</p>
                                </li>
                                <li>
                                    <label><strong>E-posta: </strong></label>
                                    <p>@Model.Email</p>
                                </li>
                                <li>
                                    <label><strong>Adres: </strong></label>
                                    <p>@Model.address</p>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="span8">

                    <style type="text/css">
                        iframe{
                            width:100%;
                            height:380px;

                        }


                    </style>

                    <div class="well">
                      @Html.Raw(Model.MapUrl) 
                    </div>
