@model ICollection<BulutWeb.Models.Model.Skils>
@{
    Layout = null;
}
@foreach (var item in Model)
{
    <label>@item.Title</label>
    <div class="progress progress-striped active">
        <div class="bar bar-success" style="width: @item.SkilLevel%;"></div>
    </div>

}

